main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    min-height: 100dvh;
}
main div {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem;
}
.add-form {
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tasks-wrapper {
    height: 100%;
    background-color: rgba(237, 228, 228, 0.754);
    box-shadow: 0px -2px 4px black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 500px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: aliceblue;
}
th.action {
    width: 4rem;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    text-align: center;
}
td button {
    width: 100%;
}
tr:nth-child(even) {
    background-color: rgba(121, 255, 210, 0.687);
}

.sorting-buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.sorting-buttons button {
    padding: 10px 15px;
    height: auto;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    transition: background-color 0.3s;
}

.sorting-buttons button:hover {
    background-color: #e0e0e0;
}